.login-button {
  float: right;
  background-color: #B0C4DE;
  border-color: #B0C4DE;
  margin-top: 10px;
}

.register-button {
  float: right;
  margin-left: 10px;
  background-color: #B0C4DE;
  border-color: #B0C4DE;
  margin-top: 10px;
}

.available-courses {
  margin-top: 20px;
}

.section-link {
  font-size: 24px;
}
