<div class="container-fluid">
  <div>
    <h1>
      Whiteboard
      <span [hidden]="!loggedIn">
        <a routerLink="/profile" class="btn btn-primary register-button">Profile</a>
        <a routerLink="/login" (click)="logout()" class="btn btn-primary register-button">Logout</a>
      </span>
      <span [hidden]="loggedIn">
        <a routerLink="/register" class="btn btn-primary register-button">Register</a>
        <a routerLink="/login" class="btn btn-primary login-button">Login</a>
      </span>
    </h1>
  </div>
  <h2>Courses Enrolled In: </h2>
  <ul class="list-group">
    <li *ngFor="let enrollment of sections" class="list-group-item">
      <a routerLink="/course/{{enrollment.section.courseId}}/section" class="section-link">
        {{enrollment.section.name}}</a>
    </li>
  </ul>

  <div class="available-courses">
    <app-course-grid></app-course-grid>
  </div>
</div>
