<div class="container-fluid" [hidden]="!loaded">
  <input [(ngModel)]="sectionName"
         placeholder="Section Name"
         class="form-control">
  <input [(ngModel)]="seats"
         placeholder="Seats Available"
         class="form-control">
  <button (click)="createSection(sectionName, seats)" class="btn btn-primary btn-block">
    Add Section
  </button>

  <ul class="list-group sections">
    <li *ngFor="let section of sections" class="list-group-item">
      {{section.name}} (Seats Available: {{section.seats}})
      <button (click)="deleteSection(section._id)"
              class="float-right btn btn-danger">Delete
      </button>
    </li>
  </ul>
</div>
