<div class="container-fluid">
  <div>
    <h1>Profile
      <a routerLink="/login" (click)="logout()" class="btn btn-primary button">Logout</a>
      <a routerLink="/home" class="btn btn-primary button">Home</a>
      <a [hidden]="!admin" routerLink="/admin/course" class="btn btn-primary button">Admin Page</a>
    </h1>
  </div>

  <input [(ngModel)]="username"
         placeholder="username"
         class="form-control"/>
  <input [(ngModel)]="firstName"
         placeholder="first name"
         class="form-control"/>
  <input [(ngModel)]="lastName"
         placeholder="lastName"
         class="form-control"/>
  <input [(ngModel)]="email"
         placeholder="email"
         class="form-control"/>
  <input [(ngModel)]="phone"
         placeholder="phone number"
         class="form-control"/>
  <input [(ngModel)]="address"
         placeholder="address"
         class="form-control"/>
  <button (click)="updateUser()"
          class="btn btn-primary btn-block">
    Update
  </button>
  <h2 class="enrollment-header">Enrollments</h2>

  <ul class="list-group">
    <li *ngFor="let enrollment of sections" class="list-group-item">
      <a routerLink="/course/{{enrollment.section.courseId}}/section" class="section-link">
        {{enrollment.section.name}}</a>
      <button (click)="unenroll(enrollment)"
              class="float-right btn btn-danger">Drop
      </button>
    </li>
  </ul>
</div>
